@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0; //마진값 초기화
    padding: 0; //패딩값 초기화
    box-sizing:border-box; //박스 영역은 테두리까지 지정
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#container{
    margin: 0 auto; //화면 중앙에 배치
    width: 1200px; //너비 지정
}

header{ //헤더 영역
    width: 100%; //너비
    height: 100px; //높이
    background-color: #07C;
}

#logo{ //로고 영역
    float: left; ///왼쪽으로 플로팅
    width: 250px;
    height: 100px;
    line-height: 100px; //height 값과 같게 만들어서 세로로 중간에 오도록 맞춤
    padding-left: 20px; //왼쪽 패딩 지정
}

#logo h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px; //폰트 크기
    color: #fff; //폰트 색상
    text-shadow: 0 -1px 0 #222; //그림자색
    line-height: 100px;
    padding-left: 20px;
}
nav{ //네비게이션 
    float: right; //오른쪽으로 플로팅
    width: 900px;
    height: 100px;
}

#topMenu{
    height: 60px;
}

#topMenu>li{
    float: left;
}

#slideShow{ //이미지 슬라이드 쇼 영역
    clear:both;
    width: 100%;
    height: 300px;
    background-color: orange;
    overflow: hidden;
}

#contents{ //콘텐츠 영역
    width: 100%;
    height: 300px;
}

#tabMenu{ //탭 메뉴 영역
    float: left;
    width: 600px;
    height: 100%;
    background-color: violet;
}

#links{ //퀵 링크 영역
    float: right;
    width: 600px;
    height: 100%;
    background-color: skyblue;
}

footer{ //푸터 영역
    width: 100%;
    height: 100px;
    background-color: gray;
}
