
#container{
    width:1200;
    margin:20px auto;
    background-color: rgb(153, 115, 172);
    border-radius: 30px;
    box-shadow:0 0 10px rgba(200,200,200,0,6);
    display:fiex;
    align-items;center;
    background-image: url('co2.png');
    border-bottom: 20px;
    
  }
  #header{
    width:100%;
    height:120px;
    background-color:#;
    border-radius: 30px;
    font-weight:900;
    color:#ddd;
  }
  #left-sidebar{
    width:250px;
    height:600px;
    background-color:blanchedalmond;
    float:left;
    border-radius: 30px;
    background-image: url('co3.png');
    background-repeat: no-repeat;
    background-size: corver;
    color:#ddd;
  }
  #contents{
    width:950px;
    height:600px;
    background-color:aliceblue;
    float:left;
    border-radius: 30px;
    background-image: url('in2.jpeg');
    background-repeat: no-repeat;
    background-size: corver;
    ;
  }
  .bottom{
    background-color: #9b35a8;
    color:black;
    position: fixed;
    bottom:215px;
    right:300px;
  
  }
  
  #footer{
    width:100%;ss
    height:100px;
    background-color:#9b35a8;
    clear:both;
    border-radius: 30px;
  }